<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial;
            
            background-color: #e6f2ff;
            
        }

        .box {
            background: white;
            padding: 30px;
            
            width: 300px;
            border-radius: 10px;
        }

        
    </style>
</head>
<body>

<div class="box">
    <h2>Welcome to Home Page</h2>
    <p>You have successfully logged in!</p>

    <a href="/">Logout</a>
</div>

</body>
</html>